FACEBOOK_ID=525383145162647
FACEBOOK_SECRET=d5b594a3d6da4fc65dfafc4c5049f3af
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
SESSION_SECRET=ThisIsMySecret
MONGODB_URI=mongodb://localhost/expense-tracker
PORT=3000